.ipynb_checkpoints*
01_certificacoes/.ipynb_checkpoints*
01_certificacoes/udemy/.ipynb_checkpoints*
01_certificacoes/faculdade/.ipynb_checkpoints*
02_fundamentos/.ipynb_checkpoints*
02_fundamentos/python/bibliotecas/.ipynb_checkpoints*
02_fundamentos/python/bibliotecas/numpy/.ipynb_checkpoints*